<h2>User details</h2>



    <div class="form-horizontal">
        <h4>Actual Borrowed</h4>

        @{Html.RenderAction("DetailsActual");}
    </div>

    <div class="form-horizontal">
        <h4>History Borrowed</h4>

        @{Html.RenderAction("DetailsHistory");}
    </div>
