<h2>Raports</h2>
<hr />

<div class="form-horizontal">
    <h4>Users Raports</h4>
    @{Html.RenderAction("UsersRaportIndex", "Raport");}
</div>

<div class="form-horizontal">    
    @{Html.RenderPartial("_Filter");}
</div>

<div class="form-horizontal">
    @{Html.RenderAction("BooksRaportIndex", "Raport");}
</div>

<script type="text/javascript">

    function filterGrid() {
        var genre,
            title,
            fromDate,
            todate;

        genre = $('#combobox').val();
        title = $('#textbox').val();
        fromDate = $('#datepicker1').val();
        toDate = $('#datepicker2').val();

        return { genre: genre, title: title, fromDate: fromDate, toDate: toDate };
    }

    $(function () {
                
        $(document).delegate('#btn-filter-books-grid', 'click', function () {
            alert("Chuj");
            $('#grid-books-raport').data('kendoGrid').dataSource.read();
            $('#grid-books-raport').data('kendoGrid').refresh();
        })

        $(document).delegate('#btn-reset-filters', 'click', function () {
            var gridDataSource = $("#grid-books-raport").data("kendoGrid").dataSource,
                urlGetBooks = '@Url.Action("GetBooksRaport", "Raport")';

            $.get(urlGetBooks, function callback(result) {
                $.each(result, function (index) {
                    result[index].Add = result[index].AddDateDisplay;
                });
                $("#combobox").data("kendoComboBox").text('');
                $("#textbox").val("");
                $("#datepicker1").data("kendoDatePicker").value(null);
                $("#datepicker2").data("kendoDatePicker").value(null);
                $('#grid-books-raport').data("kendoGrid").dataSource = new kendo.data.DataSource({ data: result });
                $('#grid-books-raport').data("kendoGrid").dataSource.read();
                $('#grid-books-raport').data("kendoGrid").refresh();
            });
        })
    })

</script>

